@model UserManagement.Models.LogUserChange

<section style="background-color: white; height:90vh">
	<div class="container py-5 h-100">
		<div class="row justify-content-center align-items-center h-100">
			<div class="col-12 col-lg-9 col-xl-7">
				<div class="shadow card-registration" style="border-radius: 15px;">
					<div class="card-body p-4 p-md-5">
						<div class="row">
							<h3 class="pb-2 col-md-12 mb-4 d-flex align-items-center justify-content-center">@Model.log.Type Log</h3>
						</div>

						<div class="row">
							<div class="col-md-12 mb-4 pb-2">
								<h4 class="form-outline w-100 col-lg-3 col-sm-6">
									@if (!Model.oldUser.Forename.Equals(Model.newUser.Forename))
									{
										<span>Forename: @Model.oldUser.Forename -> @Model.newUser.Forename</span>
									}
									else
									{
										<span>Forename: @Model.oldUser.Forename</span>
									}
								</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-4 pb-2">
								<h4 class="form-outline w-100 col-lg-3 col-sm-6">
									@if (!Model.oldUser.Surname.Equals(Model.newUser.Surname))
									{
										<span>Surname: @Model.oldUser.Surname -> @Model.newUser.Surname</span>
									}
									else
									{
										<span>Surname: @Model.oldUser.Surname</span>
									}
								</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-4 pb-2">
								<h4 class="form-outline w-100 col-lg-3 col-sm-6">
									@if (!Model.oldUser.DateOfBirth.ToString("dd/MM/yyyy").Equals(Model.newUser.DateOfBirth.ToString("dd/MM/yyyy")))
									{
										<span>Birth Date: @Model.oldUser.DateOfBirth.ToString("dd/MM/yyyy") -> @Model.newUser.DateOfBirth.ToString("dd/MM/yyyy")</span>
									}
									else
									{
										<span>Birth Date: @Model.oldUser.DateOfBirth.ToString("dd/MM/yyyy")</span>
									}
								</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-4 pb-2">
								<h4 class="form-outline w-100 col-lg-3 col-sm-6">
									@if (!Model.oldUser.Email.Equals(Model.newUser.Email))
									{
										<span>Email: @Model.oldUser.Email -> @Model.newUser.Email</span>
									}
									else
									{
										<span>Email: @Model.oldUser.Email</span>
									}
								</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-4 pb-2">
								<h4 class="form-outline w-100 col-lg-3 col-sm-6">
									@if (Model.oldUser.IsActive)
									{
										@if (Model.oldUser.IsActive != Model.newUser.IsActive)
										{
											<span> Activity: Active -> Inactive </span>
										}
										else
										{
											<span> Activity: Active </span>
										}
									}
									else
									{
										@if (Model.oldUser.IsActive != Model.newUser.IsActive)
										{
											<span> Activity: Inactive -> Active </span>
										}
										else
										{
											<span> Activity: Inactive </span>
										}
									}
								</h4>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 mb-4 d-flex align-items-center justify-content-center">
								<div id="cancel" class="btn btn-danger btn-lg m-2">Back</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

