@page "/users"

@using System.Text.Json;
@using UserManagement.Blazor.Models.Users
@using UserManagement.Models;

<h2>User List</h2>

@responseData

<div class="table-responsive">
	<table class="table table-striped overflow-auto" style="max-height:75%">
		<thead>
			<tr>
				<th>Id</th>
				<th>Forename</th>
				<th>Surname</th>
				<th>Date of Birth</th>
				<th>Email</th>
				<th>Account Active</th>
				<th style="width: 1px;"></th>
			</tr>
		</thead>
		<tbody>
			@if(Model != null)
			{	
				@foreach (var item in Model.Items)
				{
					<tr>
						<td>
							@item.Id
						</td>
						<td>
							@item.Forename
						</td>
						<td>
							@item.Surname
						</td>
						<td>
							@item.DateOfBirth
						</td>
						<td>
							@item.Email
						</td>
						<td>
							@(item.IsActive ? "Yes" : "No")
						</td>
						<td>
							<div class="dropdown">
								<button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="btnToggleActions">
									Actions
								</button>
								<ul class="dropdown-menu" aria-labelledby="btnToggleActions">
									<li><a asp-controller="Users" asp-action="UserView" asp-route-id="@item.Id" class="dropdown-item">View</a></li>
									<li><a asp-controller="Users" asp-action="EditView" asp-route-id="@item.Id" class="dropdown-item">Edit</a></li>
									<li><a asp-controller="Users" asp-action="DeleteView" asp-route-id="@item.Id" class="dropdown-item">Delete</a></li>
								</ul>
							</div>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>

<div>
	<div class="btn-group" role="group">
		<a asp-controller="Users" asp-action="List" class="btn btn-default">Show All</a>
		<a asp-controller="Users" asp-action="List" asp-route-isActive="true" class="btn btn-default">Active Only</a>
		<a asp-controller="Users" asp-action="List" asp-route-isActive="false" class="btn btn-default">Non Active</a>
	</div>

	<a asp-controller="Users" asp-action="AddView" class="btn btn-primary float-end">
		Add User
	</a>
</div>

@code {
	private UserListViewModel? Model;
	private string responseData = "";

	protected async override void OnInitialized()
	{
		await FetchDataAsync();
	}

	private async Task FetchDataAsync()
	{
		using (var httpClient = new HttpClient())
		{
			// Replace with your API URL or endpoint
			var response = await httpClient.GetStringAsync("https://localhost:7000/api/users");
			responseData = response;

			Model = JsonSerializer.Deserialize<UserListViewModel>(responseData);
		}
	}
}
